//////////////////////////////////
////////////////////////// COLORS
//////////////////////////////////

$Primary-color: rgb(40, 40, 172);

//////////////////////////////////
//////////////////////////// FONTS
//////////////////////////////////
$Main-font: "Yanone Kaffeesatz", sans-serif;
$Second-font: "Maven Pro", sans-serif;
